[submodule "practicas/aiiot-p0"]
	path = practicas/aiiot-p0
	url = git@github.com:paalcald/aiiot-p0.git
[submodule "practicas/aiiot-p1"]
	path = practicas/aiiot-p1
	url = https://github.com/paalcald/aiiot-p1
[submodule "practicas/aiiot-p2"]
	path = practicas/aiiot-p2
	url = https://github.com/paalcald/aiiot-p2
[submodule "practicas/aiiot-p3"]
	path = practicas/aiiot-p3
	url = git@github.com:paalcald/aiiot-p3.git
